.ftr {
  display: flex;
  flex-direction: column;
}

.main {
  background-color: #8bc43f;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  gap: 6rem;

  .logo_stuff,
  .map,
  .information {
    display: flex;
    flex-direction: column;
    font-size: 23px;
  }

  .line {
    border: 1px solid rgba(255, 255, 255, 0.386);
  }

  p,
  a {
    color: white;
  }

  padding: 2rem;

  .map {
    img {
      max-width: 20rem;
    }
    h3 {
      color: white;
    }
    // text-align: center;
  }

  .information {
    h3 {
      color: white;
    }
    text-align: center;
  }

  .logo_stuff {
    img {
      width: 28rem;
    }
    justify-content: space-around;
    a {
      margin-left: 3rem;
    }
  }
}

.createdby {
  background-color: black;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 1px;

  a:hover {
    color: goldenrod;
  }
}
