@import "./globalVariables.module.scss";

.main_container {
  background-color: $clr-bg-pri;
  padding: 5rem clamp(1rem, 1px + 10vw, 5.5rem) 2rem
    clamp(1rem, 1px + 10vw, 5.5rem);
}

.container {
  background-color: $clr-bg-sec;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  padding: clamp(0.5rem, 1px + 10vw, 2rem);
}
