@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* ######################################### STYLES ################################ */

.no_existingo {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
  margin: 0 auto;
  margin-top: 10rem;
}
