$color: #006b38ff;
$color2: #101820ff;
.home_cont {
  background-image: url("../public/assets/images/home_bg_white3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: fit-content;
  margin: 2rem auto 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // row-gap: 1rem;

  @media (max-width: 950px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }
}

.box_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  text-align: center;
  // padding: 5px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 5rem;
    width: 22vw;
    height: 80vh;
    transition: transform 1s ease-out;
  }

  transition: background 1s ease-in-out;

  &:hover {
    img {
      transform: rotate(30deg) translateX(-50%) translateY(30%);
    }
    p {
      opacity: 1;
      transition-delay: 800ms;
    }
    ul {
      display: block;
    }
    background-color: gray;

    h1 {
      transform: translateY(10px);
    }
    li {
      animation-delay: 800ms;
      animation: slideIn ease 900ms forwards;
    }
  }

  h1 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    letter-spacing: 1.5px;
    font-family: "Chakra Petch", sans-serif;
    color: black;
    transition: all ease-in 100ms;
  }

  p {
    position: absolute;
    top: 19vh;
    left: 6vw;
    opacity: 0;
    font-size: clamp(20px, 4vw, 28px);
    transform: rotate(30deg);
    // opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  ul {
    position: absolute;
    list-style: none;
    bottom: 25%;
    left: 35%;
    display: none;

    li {
      text-align: left;
      margin: 7px 0;
      font-size: clamp(15px, 3vw, 20px);
      opacity: 0;
      transform: translateX(-150px);
    }
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: 950px) {
    height: 60vh;
  }

  background: linear-gradient(
    90deg,
    // rgba(0, 0, 0, 0.7) 0%,
    rgba(88, 88, 88, 0.7) 100%
  );
}
