@import './globalVariables.module.scss';
.home_cont {
  background-image: url('../public/assets/images/home_bg_white3_t.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 70vh;
  margin: 1.5rem auto 0 auto;
  padding: 1.5em 12%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // row-gap: 1rem;

  @media (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }
}

.box_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  // height: fit-content;
  align-items: center;
  text-align: center;
  padding: 0 10px 10px 10px;
  overflow: hidden;
  position: relative;
  img {
    // width: 80%;
    height: 70%;
    position: absolute;
    top: 4rem;
    transition: transform 1s ease-out;
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.649);

    @media (max-width: 1150px) {
      height: 80%;
    }
    @media (max-width: 580px) {
      height: 60%;
    }
    @media (max-width: 450px) {
      height: 60%;
      top: 3.5rem;
    }
  }

  @media (max-width: 450px) {
  }

  transition: background 1s ease-in-out;

  h1 {
    margin-top: 2px;
  }

  &:hover {
    img {
      transform: rotate(45deg) translateX(-6%) translateY(95%);

      @media (max-width: 450px) {
        transform: rotate(45deg) translateX(-20%) translateY(90%);
      }
    }
    p {
      opacity: 1;
      transition-delay: 400ms;
    }
    ul {
      display: block;
    }
    background-color: gray;

    h1 {
      transform: translateY(10px);
    }
    li {
      animation-delay: 800ms;
      animation: slideIn ease 900ms forwards;
    }
  }

  h1 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.813);
    font-family: 'Bebas Neue', cursive;
    transition: all ease-in 100ms;
  }

  p {
    position: absolute;
    left: 6vw;
    opacity: 0;
    margin: -1.5rem auto;
    margin-left: -2%;
    font-size: clamp(20px, 2vw, 24px);
    // opacity: 0;
    font-family: 'Bebas Neue', cursive;
    border-radius: 20px;
    background-color: #eee;
    padding: 6px 18px 6px 18px;
    transition: opacity 250ms ease-in-out;

    &:hover {
      background-color: $clr-pri;
      color: #eee;
      animation: bounce 400ms ease-in forwards;
    }

    @media (max-width: 450px) {
      top: 35% !important;
      font-size: 18px;
    }

    @keyframes bounce {
      25% {
        transform: rotate(10deg);
      }

      50% {
        transform: rotate(0);
      }

      75% {
        transform: rotate(-8deg);
      }
      100% {
        transform: rotate(0);
      }
    }
  }

  ul {
    position: absolute;
    list-style: none;
    top: 23%;
    left: 30%;
    display: none;

    @media (max-width: 450px) {
      top: 24% !important;
      left: 45% !important;
    }

    li {
      text-align: left;
      margin: 7px 0;
      font-size: clamp(14px, 3vw, 19px);
      opacity: 0;
      transform: translateX(-150px);
      font-family: 'Bebas Neue', cursive;

      @media (max-width: 450px) {
        font-size: 13px;

        &:nth-child(1) {
          margin-left: -110px !important;
        }
        &:nth-child(2) {
          margin-left: -90px !important;
        }
        &:nth-child(3) {
          margin-left: -70px !important;
        }
        &:nth-child(4) {
          margin-left: -56px !important;
        }
        &:nth-child(5) {
          margin-left: -33px !important;
        }
      }

      &:hover {
        color: rgb(193, 193, 193);
      }
    }
  }

  @keyframes slideIn {
    40% {
      opacity: 0.1;
      transform: translateX(-100);
    }
    80% {
      opacity: 0.6;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (max-width: 1300px) {
    height: 60vh;
  }
  @media (max-width: 450px) {
    height: 30vh;
  }

  background: linear-gradient(
    90deg,
    // rgba(0, 0, 0, 0.7) 0%,
    rgba(88, 88, 88, 0.7) 100%
  );
}
