//VARIABLES
$cl-green-nav1: #006b38ff;

.all {
  position: fixed;
  width: 100%;
  z-index: 9999;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.nav1 {
  background-color: $cl-green-nav1;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  height: 4rem;
  // overflow: hidden;

  .beBlack {
    background-color: black;
    width: 70vw;
    height: 100%;
    position: relative;
    z-index: 5;
    // overflow: hidden;
  }

  .angle {
    background-color: black;
    width: 10rem;
    height: 100%;
    position: absolute;
    left: -10.1rem;
    z-index: -1;
    top: 0;
    transform: rotate(45deg) translateY(-4.19rem);
  }

  div {
    display: flex;
    justify-content: flex-end;
    gap: clamp(1rem, 1rem + 5vw, 30rem);
  }

  .logo {
    margin-left: calc(90vw * 0.05);
  }

  @media (max-width: 1200px) {
    .logo {
      margin-left: 10px;
    }
    .beBlack {
      width: 60vw;
    }
  }
  @media (max-width: 800px) {
    .beBlack {
      width: 42vw;
    }
  }

  @media (max-width: 600px) {
    .logo {
      max-width: 47vw;
    }
  }

  @media (max-width: 450px) {
    .beBlack {
      width: 30vw;
    }
  }

  img {
    height: 3.5vh;
    margin: 1rem 0;
    cursor: pointer;
    margin: auto 1.5rem;
  }

  display: flex;
  flex-direction: row;

  .link_container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    margin: auto 0;
    // position: relative;
  }
  .mob_link_container {
    display: none;
    margin: auto 0;
  }

  .language {
    margin-right: 2rem;
  }

  @media (max-width: 500px) {
    img {
      height: 3vh;
      margin-left: 0;
      margin-right: 10px;
    }
    div {
      gap: 0.5rem;
    }
    .language {
      margin-right: 0;
    }
    justify-content: space-between;
  }

  @media (max-width: 1100px) {
    .link_container {
      display: none;
    }

    .mob_link_container {
      display: flex;
      flex-direction: column;
    }
  }

  align-items: flex-end;
  justify-content: space-between;

  a {
    color: white;
    font-size: 23px;
    letter-spacing: 1.5px;
    &:hover {
      color: rgba(155, 155, 155, 0.569);
    }
  }

  // #################### NAV MOBILE #############################

  .menu_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 2rem;
    padding-bottom: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    z-index: 5;

    background-color: black;

    .menu_close {
      align-self: flex-end;
    }
    .hamMenu {
      z-index: 10;
    }
  }

  // ##################### LANGUAGE ##################################

  .backDropp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.677);
  }

  .menu_lan {
    box-sizing: border-box;
    position: relative;
    top: -15%;
    margin: 0 auto;

    // width: 18vw;
    // height: 40vh;

    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    text-align: center;
    border: 4px solid rgba(0, 0, 0, 0.165);
    border-radius: 15px;

    background: $cl-green-nav1;
    background: radial-gradient(
      circle,
      $cl-green-nav1 32%,
      $cl-green-nav1 42%,
      $cl-green-nav1 47%,
      rgba(52, 52, 52, 1) 95%
    );

    h1,
    a {
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
    }

    a {
      font-size: 24px;
    }

    h1 {
      color: white;
    }

    div {
      box-sizing: border-box;
      display: inline;
      &:hover {
        border: 3px solid gray;
        padding: 5px;
        border-radius: 20px;
      }
      img {
        margin: -9px auto;
        margin-right: 1rem;
        width: 32px;
        height: 32px;
      }
    }
  }
}
