.main {
  margin: 0 auto;
  h2 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .big_ul {
    list-style: none;
  }
  .small_ul {
    color: white;
  }

  $colorr: rgb(158, 158, 158);
  .big_li {
    cursor: pointer;
    color: $colorr;

    a {
      color: $colorr;
    }
  }
  .small_li {
    a {
      color: white;
    }
  }

  .big_li,
  .small_li {
    margin-top: 8px;
    font-size: 20px;
    a {
      font-size: 20px;
    }
  }
}
