.main {
  margin: 0 auto;
  h2 {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .big_ul,
  .small_ul {
    list-style: none;
  }

  .big_li {
    cursor: pointer;
  }

  .big_li,
  .small_li {
    font-size: 23px;
    color: white;
    a {
      font-size: 23px;
    }
  }
}
